@tailwind base;
@tailwind components;
@tailwind utilities;

.menu {
  @apply p-2 transition duration-300 delay-100 ease-out;
}

.menu:hover {
  @apply border-b-inherit border-collapse border-spacing-2 border-current border-b-2 border-third;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 320px) and (max-width: 820px) {
  .mobile-menu {
    @apply hidden;
  }
}
